.calMoj{
    background-color: green;
}
.calUrlop{
    background-color: grey;
}
.calUczestnik{
    background-color: coral;
}
.rezUczestnik{
    background-color: blueviolet;
}

.osDec1{
    background-color: #6699FF;
}
.osDec2{
    background-color: chartreuse;
}
.osDec3{
    background-color: darkcyan;
}